.titolo {
	font-size: 56px;
	text-align: center;
	width: 100%;
	margin: auto;
	color: #c5281c;
}

iframe {
	margin-top:30px;
	width: 70%;
	min-width: 300px;
	height: 600px;
}

.sottotitolo {
	font-size: 30px;
	text-align: center;
	width: 100%;
	margin: auto;
	color: #c5281c;
}

.container_galleria {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img {
	width: 400px;
	height: 400px;
	margin: auto;
}